<%--

    Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved.
    This software is published under the GPL GNU General Public License.
    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.

    This software was written for the
    Department of Family Medicine
    McMaster University
    Hamilton
    Ontario, Canada

--%>

<%@ page import="org.oscarehr.phr.util.MyOscarUtils"%>
<%@ page import="org.oscarehr.util.LoggedInInfo" %>
<%@ page import="org.oscarehr.common.model.UserProperty" %>
<%@ page import="org.oscarehr.common.dao.UserPropertyDAO" %>
<%@ page import="oscar.OscarProperties" %>
<%@ page import="org.oscarehr.util.SpringUtils" %>
<%@ page import="java.net.URLEncoder" %>
<%@ page import="java.util.*" %>

<%@ taglib uri="/WEB-INF/security.tld" prefix="security" %>
<%@ taglib uri="/WEB-INF/struts-logic.tld" prefix="logic" %>
<%@ taglib uri="/WEB-INF/struts-bean.tld" prefix="bean" %>
<%@ taglib uri="/WEB-INF/caisi-tag.tld" prefix="caisi" %>
<%@ taglib uri="/WEB-INF/oscar-tag.tld" prefix="oscar" %>
<%@ taglib uri="/WEB-INF/indivo-tag.tld" prefix="myoscar" %>
<%@ taglib uri="http://www.caisi.ca/plugin-tag" prefix="plugin" %>

<%
if (session.getAttribute("userrole") == null) response.sendRedirect(request.getContextPath()+"/logout.jsp");

UserPropertyDAO userPropertyDao = SpringUtils.getBean(UserPropertyDAO.class);
    		
Properties oscarVariables = OscarProperties.getInstance();
LoggedInInfo loggedInInfo=LoggedInInfo.getLoggedInInfoFromSession(request);

String roleName$ = (String)session.getAttribute("userrole") + "," + (String) session.getAttribute("user");
String curUser_no = (String) session.getAttribute("user");
String userfirstname = (String) session.getAttribute("userfirstname");
String userlastname = (String) session.getAttribute("userlastname");
String prov= (oscarVariables.getProperty("billregion","")).trim().toUpperCase();

String resourcebaseurl =  oscarVariables.getProperty("resource_base_url");

 	    UserProperty rbu = userPropertyDao.getProp("resource_baseurl");
 	    if(rbu != null) {
 	    	resourcebaseurl = rbu.getValue();
 	    }
    		
GregorianCalendar cal = new GregorianCalendar();
int curYear = cal.get(Calendar.YEAR);
int curMonth = (cal.get(Calendar.MONTH)+1);
int curDay = cal.get(Calendar.DAY_OF_MONTH);
%>

<head>
<title>OSCAR</title>
<link href="<%=request.getContextPath() %>/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="<%=request.getContextPath() %>/css/datepicker.css" rel="stylesheet" type="text/css">
<link href="<%=request.getContextPath() %>/css/DT_bootstrap.css" rel="stylesheet" type="text/css">
<link href="<%=request.getContextPath() %>/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">

<style>
body{background-color: #fff /*#f3f3f3*/;}

sup{
color:#000;
font-weight:bold;
}  

#main-wrapper{margin-top:70px;}

div.navbar div.dropdown:hover ul.dropdown-menu{
    display: block;  
    margin:0px;  
}

.navbar .dropdown-menu {
 margin-top: 0px;
}

.navbar .nav > li > a {
padding:10px 10px;
}

#caret-loggedIn{
vertical-align: top; 
opacity: 0.3;
margin-top:18px;
}

.accordion-heading{background-color:#fff;border-bottom:thin solid #C6C6C6;}

.accordion-heading:hover{background-color:#e6e6e6;}
.accordion-heading a:hover{text-decoration:none;}

.icon-chevron-right{opacity:0.3;}

.accordion-heading a:hover > .icon-chevron-right{opacity: 1;}

.selected-heading{background-color:#e6e6e6;}

.accordion-inner{background-color:#fff;border-bottom:thin solid #C6C6C6;}

.accordion-inner a{color:#424242;}
.accordion-inner a:hover{text-decoration:none;color:#000; cursor: pointer; cursor: hand;}

.accordion-inner li{border-bottom: thin solid #c6c6c6;padding:2px 0px 2px 0px;}


#side{
position:absolute;
/* border-right:thin solid #C6C6C6; */
padding-right:10px;
padding-bottom:20px
}

.icon-chevron-right{float:right;}  

#adminNav{
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.065);
}

#adminNav ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#dynamic-content{}

label.valid {
	width: 24px;
	height: 24px;
	background: url(<%=request.getContextPath() %>/images/icons/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
	font-size: 13px;
	display: inline;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #FFFFAA;
}


@media (max-width: 767px) {
     #side {
         width:98%;
         position:static;
     }
     
     #main-wrapper{margin-top:30px;}
 }
  
@media (min-width: 768px) and (max-width: 1430px) { 
	
	 #side{
	 	width: 240px;
	 	margin-right:15px;
	  } 
	  
	  #dynamic-content{margin-left:260px;}
}

.visible-print {
  display: none !important;
}  

@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
</style>

<script type="text/javascript" src="<%=request.getContextPath() %>/js/jquery-1.9.1.js"></script>

<oscar:customInterface section="main"/> <!--needs to be in header-->
</head>

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a href="http://oscarmcmaster.org/" target="_blank" title="OSCAR EMR"><img src="<%=request.getContextPath()%>/images/oscar_logo_small.png" border="0" style="float:left"></a>
          
			<div class="dropdown navbar-text pull-right" style="display:inline">
					<bean:message key="global.loggedIn" />  <a class="navbar-link dropdown-toggle" data-toggle="dropdown" id="dLabel" role="button" href="#username" style="color:#000;"><%=userfirstname%> <%=userlastname%> <b class="caret" id="caret-loggedIn"></b></a>
					 <ul class="dropdown-menu">
					 				<li>	
									<!-- <a href=# onClick ="popupPage2('<%=resourcebaseurl%>')"><bean:message key="global.help"/></a>-->
									<a href=# onClick ="popupPage2('<%=request.getContextPath()%>/oscarEncounter/About.jsp')">About</a>
									</li>
									<li class="divider"></li>
								
										<security:oscarSec roleName="<%=roleName$%>" objectName="_admin,_admin.userAdmin,_admin.schedule,_admin.billing,_admin.resource,_admin.reporting,_admin.backup,_admin.messenger,_admin.eform,_admin.encounter,_admin.misc" rights="r">
										 <!--  <li id="admin">
										     <a HREF="#" ONCLICK ="popupPage2('../admin/admin.jsp');return false;"><i class="icon-cog"></i> Old <bean:message key="global.admin"/></a>
										  </li>-->
										
										<% if (OscarProperties.getInstance().getBooleanProperty("admin2.enabled", "true")) { %>
										<li id="admin2">
										 <a href="<%=request.getContextPath()%>/administration/" TITLE='Administration Panel'><i class="icon-cog"></i> <bean:message key="global.admin"/></a>
										<!--title new is temp for development-->
										</li>
										<% } %>
										  
										</security:oscarSec>
									
							        <security:oscarSec roleName="<%=roleName$%>" objectName="_pref" rights="r">
									<li>  
									    <caisi:isModuleLoad moduleName="ticklerplus" reverse="true">
										<a href=# onClick ="popupPage2('<%=request.getContextPath()%>/provider/providerpreference.jsp?provider_no=<%=curUser_no%>');return false;" TITLE='<bean:message key="provider.appointmentProviderAdminDay.msgSettings"/>' OnMouseOver="window.status='<bean:message key="provider.appointmentProviderAdminDay.msgSettings"/>' ; return true"><i class="icon-user"></i> <bean:message key="global.pref"/></a>
									    </caisi:isModuleLoad>
									</li>
									</security:oscarSec>
									
							        <li><a href="#" onclick='window.open("<%=request.getContextPath()%>/provider/providerchangepassword.jsp","changePassword","resizable=yes,scrollbars=yes,width=700,height=300");'><i class="icon-lock"></i> Change Password</a></li>
							        <li><a href="javascript: function myFunction() {return false; }" onClick="popupPage2('<%=request.getContextPath()%>/scratch/index.jsp','scratch')" style="padding-right:10px;"><i class="icon-pencil"></i> Scratch Pad</a></li>
							        <li class="divider"></li>
							        <li><a href="<%=request.getContextPath()%>/logout.jsp"><i class="icon-off"></i> <bean:message key="global.btnLogout"/></a></li>
							    </ul>
			</div>
		    
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>	
		  
		    <div class="nav-collapse collapse">

			<ul class="nav" id="navlist" >
			
			<logic:notEqual name="infirmaryView_isOscar" value="false">
			<% if(request.getParameter("viewall")!=null && request.getParameter("viewall").equals("1") ) { %>
			         <li>
			         <a href=# onClick = "review('0')" title="<bean:message key="provider.appointmentProviderAdminDay.viewProvAval"/>"><bean:message key="provider.appointmentProviderAdminDay.schedView"/></a>
			         </li>
			 <% } else if((request.getParameter("caseload")!=null && request.getParameter("caseload").equals("1")) || (request.getParameter("displaymode")==null) ) {  %>
			 <li>
			 <a href='<%=request.getContextPath()%>/provider/providercontrol.jsp?year=<%=curYear%>&month=<%=curMonth%>&day=<%=curDay%>&view=0&displaymode=day&dboperation=searchappointmentday&viewall=1'>Schedule</a>
			 </li>
			         
			<% } else {  %>
				<li>
			         <a href=# onClick = "review('1')" title="<bean:message key="provider.appointmentProviderAdminDay.viewAllProv"/>"><bean:message key="provider.appointmentProviderAdminDay.viewAll"/></a>
			         </li>
			<% } %>
			</logic:notEqual>
			
			 <li>
			 <a href='<%=request.getContextPath()%>/provider/providercontrol.jsp?year=<%=curYear%>&month=<%=curMonth%>&day=<%=curDay%>&view=0&displaymode=day&dboperation=searchappointmentday&caseload=1&clProv=<%=curUser_no%>'><bean:message key="global.caseload"/></a>
			 </li>
			
			<!-- TODO:mobile version code excluded here re-visit -->
		
			 <security:oscarSec roleName="<%=roleName$%>" objectName="_resource" rights="r">
			 <!-- <li>
			    
			 </li>-->
			 </security:oscarSec>
			
			<security:oscarSec roleName="<%=roleName$%>" objectName="_search" rights="r">
			 <li id="search">
			    <caisi:isModuleLoad moduleName="caisi">
			       <a HREF="../PMmodule/ClientSearch2.do" TITLE='<bean:message key="global.searchPatientRecords"/>' OnMouseOver="window.status='<bean:message key="global.searchPatientRecords"/>' ; return true"><bean:message key="provider.appointmentProviderAdminDay.search"/></a>
			    </caisi:isModuleLoad>
			    <caisi:isModuleLoad moduleName="caisi" reverse="true">
			       <a HREF="#" ONCLICK ="popupPage2('<%=request.getContextPath()%>/demographic/search.jsp');return false;"  TITLE='<bean:message key="global.searchPatientRecords"/>' OnMouseOver="window.status='<bean:message key="global.searchPatientRecords"/>' ; return true"><bean:message key="provider.appointmentProviderAdminDay.search"/></a>
			    </caisi:isModuleLoad>
			</li>
			</security:oscarSec>
			
			<security:oscarSec roleName="<%=roleName$%>" objectName="_report" rights="r">
			<li>
			    <a HREF="#" ONCLICK ="popupPage2('<%=request.getContextPath()%>/report/reportindex.jsp','reportPage');return false;"   TITLE='<bean:message key="global.genReport"/>' OnMouseOver="window.status='<bean:message key="global.genReport"/>' ; return true"><bean:message key="global.report"/></a>
			</li>
			</security:oscarSec>
			<oscar:oscarPropertiesCheck property="NOT_FOR_CAISI" value="no" defaultVal="true">
			
			<security:oscarSec roleName="<%=roleName$%>" objectName="_billing" rights="r">
			<li>
			     
				<a HREF="#" ONCLICK ="popupPage2('<%=request.getContextPath()%>/billing/CA/<%=prov%>/billingReportCenter.jsp?displaymode=billreport&providerview=<%=curUser_no%>');return false;" TITLE='<bean:message key="global.genBillReport"/>' onMouseOver="window.status='<bean:message key="global.genBillReport"/>';return true"><bean:message key="global.billing"/></a>
			    
			</li>
			</security:oscarSec>
			</oscar:oscarPropertiesCheck>		
			 			 
			<security:oscarSec roleName="<%=roleName$%>" objectName="_con" rights="r">
			<li id="con">
			 <a HREF="#" ONCLICK ="popupPage2('<%=request.getContextPath()%>/oscarEncounter/IncomingConsultation.do?providerNo=<%=curUser_no%>&userName=<%=URLEncoder.encode(userfirstname+" "+userlastname)%>')" title="<bean:message key="provider.appointmentProviderAdminDay.viewConReq"/>">
			 <span id="oscar_aged_consults"><bean:message key="global.con"/></span></a>
			</li>
			</security:oscarSec>
			
			<security:oscarSec roleName="<%=roleName$%>" objectName="_edoc" rights="r">
			<li>
			   <a HREF="#" onclick="popupPage2('<%=request.getContextPath()%>/dms/documentReport.jsp?function=provider&functionid=<%=curUser_no%>&curUser=<%=curUser_no%>', 'edocView');" TITLE='<bean:message key="provider.appointmentProviderAdminDay.viewEdoc"/>'><bean:message key="global.edoc"/></a>
			</li>
			</security:oscarSec>
			 
			<oscar:oscarPropertiesCheck property="OSCAR_LEARNING" value="yes">
			<li>
			    <a HREF="#" ONCLICK ="popupPage2('<%=request.getContextPath()%>/oscarLearning/CourseView.jsp','<bean:message key="global.courseview"/>');return false;" TITLE='<bean:message key="global.courseview"/>'>
				<span id="oscar_courseview"><bean:message key="global.btncourseview"/></span></a>
			</li>
			</oscar:oscarPropertiesCheck>
			
			<oscar:oscarPropertiesCheck property="WORKFLOW" value="yes">
			   <li><a href="javascript: function myFunction() {return false; }" onClick="popupPage2('<%=request.getContextPath()%>/oscarWorkflow/WorkFlowList.jsp','<bean:message key="global.workflow"/>')"><bean:message key="global.btnworkflow"/></a></li>
			</oscar:oscarPropertiesCheck>

			 <oscar:oscarPropertiesCheck property="NOT_FOR_CAISI" value="no" defaultVal="true">			
			 <security:oscarSec roleName="<%=roleName$%>" objectName="_appointment.doctorLink" rights="r">
			   <li>
			       <a HREF="#" style="display:inline-block;padding-right:0px" onclick="popupInboxManager('<%=request.getContextPath()%>/dms/inboxManage.do?method=prepareForIndexPage&providerNo=<%=curUser_no%>', 'Lab');return false;" TITLE='<bean:message key="provider.appointmentProviderAdminDay.viewLabReports"/>'>
				   <span id="oscar_new_lab" ><bean:message key="global.lab"/></span>
			       </a>
			       <oscar:newUnclaimedLab>
			       <a class="tabalert" HREF="#" style="display:inline-block;padding-left:0px" ONCLICK ="popupInboxManager('<%=request.getContextPath()%>/dms/inboxManage.do?method=prepareForIndexPage&providerNo=0&searchProviderNo=0&status=N&lname=&fname=&hnum=&pageNum=1&startIndex=0', 'Lab');return false;" TITLE='<bean:message key="provider.appointmentProviderAdminDay.viewLabReports"/>'>*</a>
			       </oscar:newUnclaimedLab>
			   </li>
			  </security:oscarSec>
			 </oscar:oscarPropertiesCheck>
			
			 	<security:oscarSec roleName="<%=roleName$%>" objectName="_msg" rights="r">
			     <li>
				 <a HREF="#" ONCLICK ="popupPage2('<%=request.getContextPath()%>/oscarMessenger/DisplayMessages.do?providerNo=<%=curUser_no%>&userName=<%=URLEncoder.encode(userfirstname+" "+userlastname)%>')" title="<bean:message key="global.messenger"/>">
				 <span id="oscar_new_msg"><bean:message key="global.msg"/></span></a>
			     </li>
			   	</security:oscarSec>
			
		   <security:oscarSec roleName="<%=roleName$%>" objectName="_tickler" rights="r">
			<li>
			   <caisi:isModuleLoad moduleName="ticklerplus" reverse="true">
			    <a HREF="#" ONCLICK ="popupPage2('<%=request.getContextPath()%>/tickler/ticklerMain.jsp','<bean:message key="global.tickler"/>');return false;" TITLE='<bean:message key="global.tickler"/>'>
				<span id="oscar_new_tickler"><bean:message key="global.btntickler"/></span></a>
			   </caisi:isModuleLoad>
			   <caisi:isModuleLoad moduleName="ticklerplus">
			    <a HREF="#" ONCLICK ="popupPage2('<%=request.getContextPath()%>/Tickler.do?filter.assignee=<%=curUser_no%>&filter.demographic_no=&filter.demographic_webName=','<bean:message key="global.tickler"/>');return false;" TITLE='<bean:message key="global.tickler"/>'+'+'>
				<span id="oscar_new_tickler"><bean:message key="global.btntickler"/></span></a>
			   </caisi:isModuleLoad>
			</li>
			</security:oscarSec>
			
			    <myoscar:indivoRegistered provider="<%=curUser_no%>">
					<%
					MyOscarUtils.attemptMyOscarAutoLoginIfNotAlreadyLoggedInAsynchronously(loggedInInfo, false);%>
				    <li>
						<a HREF="#" ONCLICK ="popupPage2('<%=request.getContextPath()%>/phr/PhrMessage.do?method=viewMessages','INDIVOMESSENGER2<%=curUser_no%>')" title='<bean:message key="global.phr"/>'>
							<bean:message key="global.btnphr"/>
							<div id="unreadMessagesMenuMarker" style="display:inline-block;vertical-align:top"><!-- place holder for unread message count --></div>
						</a>
						<script type="text/javascript">
							function pollMessageCount()
							{
								jQuery('#unreadMessagesMenuMarker').load('<%=request.getContextPath()%>/phr/msg/unread_message_count.jsp?autoRefresh=true')
							}
							
							window.setInterval(pollMessageCount, 60000);
							window.setTimeout(pollMessageCount, 2000);
						</script>
				    </li>
			    </myoscar:indivoRegistered>
			
			
			
			<!-- plugins menu extension point add -->
			<%int pluginMenuTagNumber=0; %>
			<plugin:pageContextExtension serviceName="oscarMenuExtension" stemFromPrefix="Oscar"/>
			<logic:iterate name="oscarMenuExtension.points" id="pt" scope="page" type="oscar.caisi.OscarMenuExtension">
			<%if (oscar.util.plugin.IsPropertiesOn.propertiesOn(pt.getName().toLowerCase())) {
				pluginMenuTagNumber++;
			%>
			
			       <li><a href='<html:rewrite page="<%= pt.getLink() %>"/>'>
			       <%= pt.getName() %></a></li>
			<%} %>
			</logic:iterate>
			
			<!-- plugin menu extension point add end-->
			
			<%int menuTagNumber=0; %>
			<caisi:isModuleLoad moduleName="caisi">
			   <li>
			     <a href='<html:rewrite page="<%=request.getContextPath()%>/PMmodule/ProviderInfo.do"/>'>Program</a>
			     <% menuTagNumber++ ; %>
			   </li>
			</caisi:isModuleLoad>
			</ul>

		    </div>
	             
		    
    	</div>
    </div>
</div>

<div style="position:absolute;top:50px; right:20px"><i class=" icon-question-sign"></i> <a href="#" ONCLICK ="popupPage2('<%=resourcebaseurl%>');return false;" title="" onmouseover="window.status='';return true">Help</a> <a href="javascript:void(0)"  onClick="window.open('<%=request.getContextPath()%>/oscarEncounter/About.jsp','About OSCAR','scrollbars=1,resizable=1,width=800,height=600,left=0,top=0')" style="margin-left:10px;"><i class=" icon-question-sign"></i> <bean:message key="global.about" /></a></div>

<!--<oscar:help keywords="admin" key="app.top1"/> --> 
